[submodule "IncludeOS"]
	path = network/IncludeOS
	url = https://github.com/fwsGonzo/IncludeOS
  branch = dev
[submodule "pirahna"]
	path = pirahna/pirahna
	url = git@github.com:fwsGonzo/pirahna.git
  branch = master
[submodule "pirahna/microLB"]
	path = pirahna/microLB
	url = git@github.com:fwsGonzo/microLB.git
